<!-- fxLayout -->
<div fxLayout="column" style="margin-top: 8%;">

  <!-- fxFlex -->
  <mat-card fxFlex style="width: 65%; margin-left: 18%; margin-top: 5%;" class="mat-elevation-z8">
    <mat-card-title style="text-align: center; font-weight: lighter;"> Reset Password </mat-card-title>

    <!-- error message -->
    <mat-card *ngIf="errorMessage" class="mat-elevation-z0" style="width: 75%;">
      <mat-card-content>
        <div class="msg-error" style="font-weight: lighter;">
        {{ errorMessage }}
        <br />
        </div>
      </mat-card-content>
    </mat-card>
    <!-- end error message -->


    <!-- reset password form -->
    <form id="resetForm">

      <!-- fxLayout-->
      <mat-card-content fxLayout="column" fxLayoutGap="10px">

        <!-- stepper -->
        <mat-horizontal-stepper #stepper>

          <!-- verify username -->
          <mat-step fxFlex  [stepControl]="verifyUsername">
            <form [formGroup]="verifyUsername" (ngSubmit)="validateUsername()" #verifyUsernameForm>
            <ng-template matStepLabel>Verify Username </ng-template>
            <mat-form-field fxFlex>
              <input matInput type="username" formControlName="username" placeholder="Username">
            </mat-form-field>

            <!-- buttons -->
            <div fxLayoutAlign="end">
              <button mat-raised-button color="accent" matStepperPrevious>Back</button>
              <button mat-raised-button color="accent">Submit</button>
            </div>
            <!-- end buttons -->
          </form>
          </mat-step>
          <!-- end verify username -->

          <!-- answer security questions -->
          <mat-step  [stepControl]="securityQuestions">
            <form [formGroup]="securityQuestions" (ngSubmit)="verifySecurityQuestions()" #securityQuestionsForm>
            <ng-template matStepLabel>Answer Security Questions</ng-template>
            <mat-list>
              <mat-list-item>
                {{ question1 }}
                <mat-form-field fxFlex>
                  <input matInput formControlName="answerToSecurityQuestion1" placeholder=" Answer 1" />
                </mat-form-field>
              </mat-list-item>

              <mat-list-item>
                {{ question2 }}
                <mat-form-field fxFlex>
                  <input matInput formControlName="answerToSecurityQuestion2" placeholder="Answer 2" />
                </mat-form-field>
              </mat-list-item>

              <mat-list-item>
                {{ question3 }}
                <mat-form-field fxFlex>
                <input matInput formControlName="answerToSecurityQuestion3" placeholder="Answer 3" />
              </mat-form-field>
            </mat-list-item>
            </mat-list>

            <br /><br />
            <div fxFlex fxLayoutAlign="end">
              <button mat-raised-button color="accent">Submit</button>
            </div>
            </form>
          </mat-step>
          <!-- end answer security questions -->

          <!-- reset password -->
          <mat-step fxFlex [stepControl]="newPassword">
            <form [formGroup]="newPassword" (ngSubmit)="resetPassword()" #newPasswordForm>

            <ng-template matStepLabel>Create A New Password</ng-template>
            <mat-form-field>
              <input matInput type="password" formControlName="password" placeholder="New Password" />
            </mat-form-field>

            <br /><br />
            <div fxFlex fxLayoutAlign="end">
              <button mat-raised-button color="accent">Submit</button>
            </div>
            </form>
          </mat-step>
          <!-- end reset password -->

        </mat-horizontal-stepper>
        <!-- end stepper -->
      </mat-card-content>
      <!-- end fxLayout -->
    </form>
    <!-- end reset password form-->
  </mat-card>
  <!-- fxFlex -->
</div>
<!-- end fxLayout-->
