<!-- mat-toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>

  <mat-toolbar-row>
    <div style="width: 90%;">
      <p style="text-align: center; padding-left: 10%; font-weight: lighter;">
        Bob's Computer Repair Shop
        <br />
      </p>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>
<!-- end mat-toolbar -->

<!-- fxLayout -->
<div fxLayout="row wrap" fxLayoutAlign="center start">

  <!-- fxFlex -->
  <div fxFlex.gt-sm="55" fxFlex="100">

    <!-- mat-card -->
    <mat-card class="mat-card-top pa-0">
      <mat-card-title style="text-align: center; font-size: 48px; font-weight: lighter;" class="mat-headline">Sign In</mat-card-title>
      <br />
      <mat-card-subtitle style="text-align: center; font-weight: lighter;">
        <a routerLind="/" class="register-link">create an account</a>
      </mat-card-subtitle>

      <br />

      <mat-card-subtitle style="text-align: center;" class="mat-headline">Please enter a valid username and password</mat-card-subtitle>

      <!-- mat card content -->
      <mat-card-content>
        <small style="color: red;" *ngIf="errorMessage">{{ errorMessage }}<br /></small>
        <!-- mat card -->
        <mat-card class="mat-elevation-z0">

          <!-- sign-in form -->
          <form [formGroup]="form" (ngSubmit)="signin(); form.reset()" #loginForm="ngForm">

            <!-- mat card content -->
            <mat-card-content fxLayout="column" fxLayoutGap="10px">

              <!-- username form field -->
              <mat-form-field>
                <input type="text" matInput fxFlex [formControl]="form.controls['userName']" placeholder="User Name"/>
              </mat-form-field>
              <!-- end username form field -->

              <!-- password form field -->
              <mat-form-field>
                <input type="password" matInput fxFlex [formControl]="form.controls['password']" placeholder="Password"/>
              </mat-form-field>
              <!-- end password form field -->

            </mat-card-content>
            <!-- end mat card content -->

          </form>
          <!-- end sign-in form -->

        </mat-card>
        <!-- end mat card -->

      </mat-card-content>
      <!-- end mat card content -->

    </mat-card>
    <!-- end mat card -->

  </div>
  <!-- end fxFlex -->

</div>
<!-- end fxLayout -->
