<<<<<<< Updated upstream
/*
; ==============================
; Title: home.component.css
; Author: Dan Ross
; Date: 18 April 2021
; Modified By: Dan Ross
; Description: This is the home component css page
; ==============================
*/
=======
/**
 * Title: home.component.css
 * Author: Professor Krasso
 * Date: 19 April 2021
 * Modified By: Juvenal Gonzalez
 * Description: all css styling for the home  component
 */


>>>>>>> Stashed changes
.main-welcome {
    margin-top: 30px;
  }

  .title {
    text-align: center;
    font-weight: lighter;
  }

  .subtitle {
    text-align: center;
    font-size: 14px;
  }
