

@import '~@angular/material/theming';

@include mat-core();


$bcrs-primary: mat-palette($mat-green, 500);
$bcrs-accent: mat-palette($mat-grey, 400);

$bcrs-warn: mat-palette($mat-red);


$bcrs-theme: mat-light-theme((
  color: (
    primary: $bcrs-primary,
    accent: $bcrs-accent,
    warn: $bcrs-warn,
  )
));


@include angular-material-theme($bcrs-theme);

